<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>LoginMvc</display-name>
    <welcome-file-list>
        <welcome-file>signin.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginKolamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutKolamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterKolamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEventServlet</servlet-name>
        <servlet-class>controller.EditEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPondServlet</servlet-name>
        <servlet-class>controller.EditPondServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <servlet-class>controller.AdminRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>controller.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DaftarEventServlet</servlet-name>
        <servlet-class>controller.DaftarEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DaftarKolamServlet</servlet-name>
        <servlet-class>controller.DaftarKolamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerifyServlet</servlet-name>
        <servlet-class>controller.UserVerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>controller.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEventServlet</servlet-name>
        <servlet-class>controller.UpdateEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateKolamServlet</servlet-name>
        <servlet-class>controller.UpdateKolamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEventServlet</servlet-name>
        <servlet-class>controller.DeleteEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePondServlet</servlet-name>
        <servlet-class>controller.DeletePondServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImageServlet</servlet-name>
        <servlet-class>controller.DisplayImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEventServlet</servlet-name>
        <url-pattern>/EditEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPondServlet</servlet-name>
        <url-pattern>/EditPondServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <url-pattern>/AdminRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DaftarEventServlet</servlet-name>
        <url-pattern>/DaftarEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DaftarKolamServlet</servlet-name>
        <url-pattern>/DaftarKolamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerifyServlet</servlet-name>
        <url-pattern>/UserVerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEventServlet</servlet-name>
        <url-pattern>/UpdateEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateKolamServlet</servlet-name>
        <url-pattern>/UpdateKolamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEventServlet</servlet-name>
        <url-pattern>/DeleteEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePondServlet</servlet-name>
        <url-pattern>/DeletePondServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayImageServlet</servlet-name>
        <url-pattern>/DisplayImageServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/myDatasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
